.form-messages {
    text-align: left;
    font-weight: 600;
    color: red;
}

/* insert flags */

.iti__flag {background-image: url("../js/intl-tel-input/build/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../js/intl-tel-input/build/img/flags@2x.png");}
}