.whatapp-wrapper {
    background: #f4f7f8;
    border: 1px solid #efefef;
    border-radius: 8px;
    width: 100%;
    margin: 0 0 40px;
}
.whatapp-form {
    max-width: 500px;
    margin: 10px auto;
    padding: 20px 10px;
    text-align: center;
}
.whatapp-form .whatapp-text {
    margin: 10px 0;
    font-size: 15px;
}
.whatapp-form .whatapp-title {
    font-size: 25px;
    margin: 10px !important;
}
.whatapp-form .wp-phone-message-message, 
.whatapp-form .wp-phone-message-name, 
.whatapp-form .wp-phone-message-phone,
.whatapp-form .wp-phone-message-address,
.whatapp-form .wp-phone-message-email {
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 10px 0 0;
    outline: 0;
    padding: 10px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}
.whatapp-form .wp-phone-message-message {
    height: 100px;
}
.whatapp-form .wp-phone-message-message:focus, 
.whatapp-form .wp-phone-message-name:focus, 
.whatapp-form .wp-phone-message-phone:focus,
.whatapp-form .wp-phone-message-address:focus,
.whatapp-form .wp-phone-message-email:focus {
	background: #d2d9dd;
}
.whatapp-form .whatapp-error {
    color: red;
    font-size: 14px;
}
.whatapp-form .wp-phone-message-button {
    position: relative;
    display: block;
    padding: 12px 20px 12px 20px;
    color: #FFF;
    margin: 10px auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
}
.whatapp-form .wp-phone-message-button:hover
{
	background: #109177;
}